<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a> |
    <a routerLink="/student" routerLinkActive="active">Student</a>
    <a routerLink="/shape" routerLinkActive="active">Shape</a>
    <a routerLink="/form-template" routerLinkActive="active">Form Template</a>
    <a routerLink="/form-reactive" routerLinkActive="active">Form Reactive</a> |
    <a routerLink="/api-get" routerLinkActive="active">API Get</a> 
    <a routerLink="/api-post" routerLinkActive="active">API Post</a> |
    <a routerLink="/about" routerLinkActive="active">About</a>
</nav>
<hr>